.trade-display-container {
  height: 25vh;
  width: 100%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.trade-display-container > div {
  margin: 5px;
}

.ask-bids {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
  width: 100%;
}

.trade-info {
}

.order-book-info {
  border-bottom: 1px solid white;
}

.vl {
  border-left: 1px solid white;
}
