.transaction-container {
  /* height: 25vh; */
  width: 100%;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.transaction-header {
  border-bottom: 1px solid white;
}

.ul-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0;
  margin-left: 1vw;
  margin-right: 1vw;
}

.list-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.has-failure {
  color: #d9534f;
}

.has-success {
  color: #5cb85c;
}
