.main-wrapper {
  /* margin-top: 25%; */
  /* background: #303030; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 70vw;
  height: 100vh;
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.right-wrapper {
  width: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  /* height: 75vh; */
  height: 100%;
  margin-top: 5vh;
  margin-right: 5vw;
  /* overflow-y: auto;
  overflow-x: hidden; */
}

/* ::-webkit-scrollbar {
  width: 7px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
  height: 1px;
  width: 10px;
} */
